// Hide default ui-controls unless hovered
body.compact-ui #ui-left:not(.active) li:has(.ui-control:not([aria-pressed="true"], .toggle, .button)) {
  display: none;
}

body.compact-ui :is(#players-active, #players-inactive, #smalltime-app.pinned) {
  opacity: 0;
  transition: opacity 0.25s ease-in-out;

  &:hover {
    opacity: 1;
    transition: opacity 0.25s ease-in-out;
  }
}

body.compact-ui :is(#ui-right) #sidebar {
  &:hover > nav.tabs {
    opacity: 1;
    transition: opacity 0.25s ease-in-out;
  }

  > nav.tabs {
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
  }
}
