#chat-controls.no-chat-control-icon {
  .chat-control-icon {
    display: none;
  }
}

.dorako-display-none {
  display: none !important;
}

.dorako-damage-roll .flavor-text > *:nth-child(-n + 3) {
  display: none;
}

.dorako-damage-roll .flavor-text > hr {
  border-color: transparent;
}

.no-compendium-banner-images .compendium-banner {
  display: none;
}
